$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon/fonts" !default;

$icon-angleDown: "\e900";
$icon-angleLeft: "\e901";
$icon-angleRight: "\e902";
$icon-angleUp: "\e903";
$icon-arrowBottomLeft: "\e904";
$icon-arrowBottomRight: "\e905";
$icon-arrowDown: "\e906";
$icon-arrowLeft: "\e907";
$icon-arrowRight: "\e908";
$icon-arrowTopLeft: "\e909";
$icon-arrowTopRight: "\e90a";
$icon-arrowUp: "\e90b";
$icon-bar: "\e90c";
$icon-bars: "\e90d";
$icon-blog: "\e90e";
$icon-book: "\e90f";
$icon-bookmark: "\e910";
$icon-books: "\e911";
$icon-calender: "\e912";
$icon-call: "\e913";
$icon-certified: "\e914";
$icon-chart: "\e915";
$icon-chat: "\e916";
$icon-chatgpt: "\e917";
$icon-chats: "\e918";
$icon-check: "\e919";
$icon-circle: "\e91a";
$icon-clock: "\e91b";
$icon-close: "\e91c";
$icon-copy: "\e91d";
$icon-dashboard: "\e91e";
$icon-ecommerce: "\e91f";
$icon-edit: "\e920";
$icon-email: "\e921";
$icon-eye: "\e922";
$icon-eyeClose: "\e923";
$icon-fileDocument: "\e924";
$icon-fingerPrint: "\e925";
$icon-fullScreen: "\e926";
$icon-globe: "\e927";
$icon-globeSearch: "\e928";
$icon-info: "\e929";
$icon-key: "\e92a";
$icon-link: "\e92b";
$icon-lock: "\e92c";
$icon-lockPassword: "\e92d";
$icon-logout: "\e92e";
$icon-mapMarker: "\e92f";
$icon-mic: "\e930";
$icon-minus: "\e931";
$icon-mute: "\e932";
$icon-password: "\e933";
$icon-pause: "\e934";
$icon-pencil: "\e935";
$icon-play: "\e936";
$icon-playCircle: "\e937";
$icon-plus: "\e938";
$icon-printer: "\e939";
$icon-reload: "\e93a";
$icon-screen: "\e93b";
$icon-screenCast: "\e93c";
$icon-search: "\e93d";
$icon-setting: "\e93e";
$icon-thumbsUp: "\e93f";
$icon-trash: "\e940";
$icon-upload: "\e941";
$icon-user: "\e942";
$icon-volumeOne: "\e943";
$icon-volumeThree: "\e944";
$icon-volumeTwo: "\e945";
$icon-zap: "\e946";
